<div class="frontend-navbar">
  <ul class="nav navbar-expand-lg mb-2 navwidth mx-auto">
  <a class="navbar-brand px-1" href="/dashboard" class="p-1">
    <%= image_tag("monicare_logo_witheye.png", width: '80px', alt: 'logo') %>
  </a>
    <ul class="nav p-2 ml-auto">
      <li class="nav-item dropdown">
        <% if @notification.blank? %>
          <a class="nav-link frontend-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-bell"></i>
          </a>
          <div class="dropdown-menu btn-fake" aria-labelledby="navbarDropdown">
            目前沒有新的通知
          </div>
        <% else %>
          <a class="nav-link frontend-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell notification"></i>
          </a>
          <div class="dropdown-menu btn-fake" aria-labelledby="navbarDropdown">
            <% @notification.each do |notification| %>
              <div><%= link_to notification.teacher.name + '老師已完成餵藥品', dashboard_child_medicine_path(child_id: notification.child_id, id: notification.dashboard_id), class:'btn' %></div>
            <% end %>
          </div>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link frontend-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-baby"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if @children_list.blank? %>
            請聯繫老師新增小孩
          <% else %>
            <%  @children_list.each do |childlist| %>
              <%= link_to childlist.name, dashboard_child_overview_path(childlist), class:'dropdown-item' %>
            <% end %>
          <% end %>
          </div>
      </li>
       <span> 
      <li class="nav-item dropdown">
        <a class="nav-link frontend-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
        <div class="dropdown-menu">
          <% if user_signed_in? %>
            <div><%= link_to current_user.name, dashboard_path, class:'btn user-name' %></div>
            <div><%= link_to('修改資料', edit_registration_path(:user), class:'btn user-name' )  %></div>
            <div><%= link_to "登出", destroy_user_session_path, method: 'delete', class: 'btn sign-out' %></div>
          <% else %>
            <div><%= link_to "註冊", new_user_registration_path, class: 'btn' %></div>
            <div><%= link_to "登入", new_user_session_path, class: 'btn' %></div>
          <% end %>
        </div>
      </li>
    </ul>
  </ul>
</div>
