<div class="container text-center">
  <h4 class="function-subtitle font-weight-bold mb-3">生活紀錄</h4>
  <% dashboards.each do |date, dashboard| %>
    <table class="table">
      <caption><%= date.to_date %></caption>
      <tbody>
        <% dashboard.each do |d| %>
          <tr>
            <td><%= d.title %></td>
            <td><%= d.finished_at.to_date %></td>
            <td><%= d.content %></td>
            <td><%= link_to '詳情', dashboard_child_misc_path(child_id: d.child_id, id: d.id), class: 'btn more-button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
