<%= render 'shared/frontend/navbar' %>

<div class="container overview">
  <div class="row no-gutters bg-light position-relative shadow-lg">
    <div class="col-md-4 col-4 mb-md-0 p-md-4 p-2 avatar-child text-right">
      <img src="<%= show_child_pic_image @child %>" class="card-img-top child_pic" alt="<%= @child.name %>的照片">
    </div>
    <div class="col-md-7 col-7 position-static p-sm-4 px-1">
        <span class="overview-title-child-name">
          <%= @child.name %><br>
        </span>
        <span class="font-weight-bold overview-title">
          園內生活點滴
        </span><br>
        <%= link_to dashboard_child_path(@child.id), class: 'btn function-button mt-2' do %>
          <i class="fas fa-lightbulb"></i>
          <span>功能</span>
      <% end %>
        <% if request.path === "/dashboard/children/#{params[:child_id]}/overview" %>
        <form class="form-inline my-2 searching-form">
          <input class="form-control mr-sm-2 search" type="search" placeholder="請輸入查詢日" aria-label="Search">
          <button class="btn my-2 my-sm-0 search_btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <% end %>
    </div>
  </div>

  <table class="table">
    <tbody class="dashboard_list">
      <% @dashboards.order(finished_at: :desc).each do |dashboard| %>
        <tr>
          <td><%= link_to dashboard.title, "/dashboard/children/#{dashboard.child_id}/#{dashboard.category}/#{dashboard.id}", class: 'font-weight-bold link-button' %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
          <td><%= link_to '詳情', "/dashboard/children/#{dashboard.child_id}/#{dashboard.category}/#{dashboard.id}", class: 'btn more-button' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

