<%= render 'shared/frontend/navbar' %>

<div class="container">
  <div class="col-sm-10 col-md-8 col-lg-6 mx-auto task-edit">
    <%= render 'shared/frontend/child_avatar', child: @child %>
    <% if @pick_up.errors.any? %>
      <div class="alert alert-info alert-dismissible fade show" role="alert"> 
        <% @pick_up.errors.full_messages.each do |msg| %>
          <p>＊<%= msg %></p>
        <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </div >
    <% end %>
    <h4 class="text-center font-weight-bold title-color mb-3">新增可接送的親屬</h4>
    <%= form_with scope: :pick_up, url: dashboard_child_pick_up_index_path, local: true do |form| %>
      <div class="pick_up_pic mb-3">
        <%= cover_image_tag @pick_up %>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <%= form.label :pick_up_pic, "請上傳照片", class: 'custom-file-label pick_up_pic_url url-color' %>
          <%= form.file_field :pick_up_pic, class: 'custom-file-input' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :name, "姓名" %>
        <%= form.text_field :name, class: 'form-control form-control-color' %>
      </div>
      <div class="form-group">
        <%= form.label :relationship, "與小朋友的關係" %>
        <%= form.text_field :relationship, class: 'form-control form-control-color' %>
      </div>
      <div class="form-group">
        <%= form.label :note, "備註" %>
        <%= form.text_area :note, class: 'form-control form-control-color' %>
      </div>
      <%= form.submit "送出", class: 'btn submit-button' %>
    <% end %>
  </div>
</div>
