<div class="backend-navbar">
<ul class="nav navbar-expand-lg navwidth mb-2 mx-auto">
  <a class="navbar-brand px-1" href="/teacher/dashboard">
    <%= image_tag("monicare_logo_witheye.png", width: '80px', alt: 'logo') %>
  </a>
    <ul class="nav ml-auto p-2">
      <li class="nav-item">
        <a class="nav-link backend-link" href="/teacher/dashboard/children/new"><i class="fas fa-user-plus"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown ">
        <% if @notification.empty? %>
          <a class="nav-link backend-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-bell "></i>
          </a>
          <div class="dropdown-menu p-1 shadow-lg btn-fake" aria-labelledby="navbarDropdown">
            目前沒有新的通知
          </div>
        <% else %>
          <a class="nav-link backend-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell notification"></i>
          </a>
          <div class="dropdown-menu btn-fake" aria-labelledby="navbarDropdown">
            <% @notification.where(teacher_id: current_teacher.id).each do |notification| %>
              <div><%= link_to notification.user.children.find(notification.child_id).name + notification.title, notification_read_url(notification), class:'btn' %></div>
            <% end %>
          </div>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle backend-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">班級</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @babyclass.each do |babyclass| %>
            <%= link_to babyclass.nursery_class, teacher_dashboard_myclass_path(babyclass), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link backend-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
        <div class="dropdown-menu">
          <% if teacher_signed_in? %>
            <%= link_to "#{current_teacher.name}老師", teacher_dashboard_path, class: 'btn user-name' %><br>
            <%= link_to "登出", destroy_teacher_session_path, method: 'delete', class: 'btn sign-out' %>
          <% else %>
            <%= link_to "註冊", new_teacher_registration_path, class: 'btn'	%>
            <%= link_to "登入", new_teacher_session_path, class: 'btn' %>
          <% end %>
        </div>
      </li>

    </ul>
</ul>
</div>
