<div class="container text-center">
  <h4 class="function-subtitle function-subtitle-medicine mb-3 mt-2">餵藥紀錄</h4>
  <% dashboards.each do |date,dashboard| %>
    <table class="table">
      <caption><%= date.to_date %></caption>
      <tbody>
        <% dashboard.each do |d| %>
          <tr>
            <td><%= d.title %></td>
            <td><%= d.started_at.to_date %></td>
            <% if d.finished_at === nil %>
              <td><%= link_to '餵藥', edit_teacher_dashboard_child_medicine_path(child_id: d.child_id, id: d.id), class: 'btn edit-button' %></td>
            <% else %>
              <td>已完成餵藥</td>
            <% end %>
            <td><%= link_to '詳情', teacher_dashboard_child_medicine_path(child_id: d.child_id, id: d.id), class: 'btn more-button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
