<div class="container new-child task-edit">
  <div class="col-sm-10 col-md-8 col-lg-6 mx-auto rounded new-child-backgroud">
    <% if child.errors.any? %>
      <div class="alert alert-info alert-dismissible fade show" role="alert"> 
        <% child.errors.full_messages.each do |msg| %>
          <p>＊<%= msg %></p>
        <% end %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </div >
    <% end %>
    <h4 class="new-child-title text-center font-weight-bold mb-3">新增小朋友</h4>
    <%= form_with scope: :child, url: teacher_dashboard_children_path, local: true do |form| %>
      <div class="child_pic mb-3">
        <%= cover_child_pic_image_tag child %>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <%= form.label :child_pic, "請上傳照片", class: 'custom-file-label child_pic_url url-color form-control-color' %>
          <%= form.file_field :child_pic, class: 'custom-file-input' %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :name, '姓名' %>
        <%= form.text_field :name, class: 'form-control form-control-color' %>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12 col-md-6">
          <%= form.label :user_id, '家長' %>
          <%= form.collection_select :user_id, User.all, :id, :name %>
        </div>
        <div class="form-group col-sm-12 col-md-6">
          <%= form.label :babyclass_id, '班級' %>
          <% if current_teacher.babyclasses.empty? %>
            <%= link_to '請先新增班級', new_teacher_dashboard_myclass_path, class: 'form-control form-control-color', disabled: true %>
          <% else %>
            <%= form.collection_select :babyclass_id, current_teacher.babyclasses, :id, :nursery_class %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= form.hidden_field :teacher_id, :value => current_teacher.id, class: 'form-control form-control-color' %>
      </div>
      <div class="form-group">
        <%= form.submit '新增小朋友', class: 'btn submit-button form-control' %>
      </div>
    <% end %>
  </div>
</div>
