<div class="container text-center">
  <h4 class="function-subtitle function-subtitle-meal mb-3 mt-2">
    用餐紀錄
    <%= link_to new_teacher_dashboard_child_eat_path(child_id: params[:id]), class: 'create-button-meal' do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </h4>
  <% dashboards.each do |date,dashboard| %>
    <table class="table">
      <caption><%= date.to_date %></caption>
      <tbody>
        <% dashboard.each do |d| %>
          <tr>
            <td><%= d.title %></td>
            <td><%= d.finished_at.to_date %></td>
            <td><%= d.content %></td>
            <td><%= link_to '編輯', edit_teacher_dashboard_child_eat_path(child_id: d.child_id, id: d.id), class:'btn edit-button' %></td>
            <td><%= link_to '刪除', teacher_dashboard_child_eat_path(child_id:d.child_id, id: d.id), method: :delete, class: 'btn btn-danger confirm_delete' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
