<div class="container text-center">
  <h4 class="function-subtitle function-subtitle-meal mb-3 mt-2">
    用餐紀錄
    <%= link_to new_teacher_dashboard_child_eat_path(child_id: params[:id]), class: 'create-button-meal' do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </h4>
  <table class="table">
    <tbody>
      <% dashboards.order(finished_at: :desc).eat.each do |dashboard| %>
        <tr>
          <td><%= dashboard.title %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
          <td><%= link_to '編輯', edit_teacher_dashboard_child_eat_path(child_id: params[:id], id: dashboard.id), class:'btn edit-button' %></td>
          <td><%= link_to '刪除', teacher_dashboard_child_eat_path(child_id: params[:id], id: dashboard.id), method: :delete, class: 'btn btn-danger confirm_delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
