<div class="container text-center">
  <h4 class="function-subtitle function-subtitle-misc mb-3 mt-2">
    生活紀錄
    <%= link_to new_teacher_dashboard_child_misc_path(child_id: params[:id]),class:'create-button-misc' do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
  </h4>
  <% dashboards.each do |date,dashboard| %>
    <div class="table-list mt-2 mb-3 col-12">
      <table class="table">
        <caption><%= date.to_date %></caption>
        <tbody>
          <% dashboard.each do |d| %>
          <tr>
            <th class="font-weight-bold title-of-editor">
              <%= link_to d.title, edit_teacher_dashboard_child_misc_path(child_id: d.child_id, id: d.id), class: 'text-dark' %>
            </th>
            <td class="icon-of-editor">
              <%= link_to edit_teacher_dashboard_child_eat_path(child_id: d.child_id, id: d.id), class:'btn edit-button p-0' do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to teacher_dashboard_child_misc_path(child_id: d.child_id, id: d.id), method: :delete, class: 'btn delete-button confirm_delete p-0' do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
