<%= render 'shared/backend/navbar' %>

<div class="container overview">
  <div class="row no-gutters bg-light position-relative shadow-sm mb-3 pb-2">
    <div class="col-md-4 col-4 mb-md-0 p-md-4 p-2 avatar-child text-right">
      <%= link_to teacher_dashboard_child_overview_path do %>
        <img src="<%= show_child_pic_image @student %>" class="card-img-top child_pic" alt="<%= @student.name %>的照片">
      <% end %>
    </div>
    <div class="col-md-7 col-7 position-static p-sm-4 px-1">
      <%= link_to teacher_dashboard_child_overview_path, class: 'link-button font-weight-bold' do %>
        <span class="overview-title-child-name">
          <%= @student.name %><br>
        </span>
      <% end %>
      <span class="font-weight-bold overview-title">
        園內生活點滴
      </span><br>
      <%= link_to teacher_dashboard_child_path(@student.id), class: 'btn function-button mt-2' do %>
        <i class="fas fa-lightbulb"></i>
        <span>功能</span>
      <% end %>
      <button class="btn searching-form-show search_btn mt-2">
        <i class="fas fa-search"></i>
        搜尋日期
      </button>
    </div>
  </div>
  <div class="searching-form-hide col-12">
    <form class="d-flex mb-4">
      <div class="col-10 pr-1">
        <input class="form-control mr-sm-2 search" type="search" placeholder="請輸入查詢日" aria-label="Search">
      </div>
      <div class="col-2 ml-0 pl-0">
        <button class="btn search_btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <% @dashboards.each do |date,dashboard| %>
    <div class="dashboard_list mt-2 mb-3">
      <table class="table">
        <caption><%= date.to_date %></caption>
        <% dashboard.each do |d| %>
          <tbody class="list">
            <tr>
              <th class="font-weight-bold text-dark">
                <% if d.category == 'eat' %>
                  <i class="fas fa-utensils mb-1"></i>
                <% elsif d.category == 'medicine' %>
                  <i class="fas fa-capsules mb-1"></i>
                <% elsif d.category == 'misc' %>
                  <i class="fas fa-pencil-alt mb-1"></i>
                <% end %>
                <%= link_to d.title, teacher_redirect_to(d), class: 'mb-1 mt-1 text-dark link-button' %>
              </th>
            </tr>
            <tr>
              <% if d.content.present? %>
                <td><%= d.content %></td>
              <% else %>
                <td>無內容</td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
