<%= render 'shared/backend/navbar' %>

<div class="container overview">
  <div class="row no-gutters bg-light position-relative shadow-lg">
      <div class="col-md-4 col-4 mb-md-0 p-md-4 p-2 avatar-child text-right">
        <img src="<%= show_child_pic_image @student %>" class="card-img-top child_pic" alt="<%= @student.name %>的照片">
      </div>
      <div class="col-md-7 col-7 position-static p-sm-4 px-1">
        <span class="overview-title-child-name">
          <%= @student.name %><br>
        </span>
        <span class="font-weight-bold overview-title">
          園內生活點滴
        </span><br>
          <%= link_to teacher_dashboard_child_path(@student.id), class: 'btn function-button mt-2 mb-3' do %>
            <i class="fas fa-lightbulb"></i>
            <span>功能</span>
          <% end %>
      </div>
    </div>
  </div>
  <table class="table">
    <tbody>
      <% @dashboards.order(finished_at: :desc).each do |dashboard| %>
        <tr>
          <td><%= link_to dashboard.title, teacher_redirect_to(dashboard), class: 'font-weight-bold link-button' %></td>
          <td><%= dashboard.finished_at.to_date %></td>
          <td><%= dashboard.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
