<%= render 'shared/frontend/navbar' %>
<%= render 'shared/flash' if notice %>

<div class="container text-center dashboard">
  <h2 class="font-weight-bold dashboard-title mb-3">我的小孩</h2>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-wrap">
      <% @children.each do |child| %>
        <%= link_to dashboard_child_overview_path(child.id), class: 'col-6 mb-3' do %>
          <div class="card">
            <div class="card-image">
              <img src="<%= show_child_pic_image child %>" class="card-img-top child_pic" alt="<%= child.name %>的照片">
            </div>
            <div class="card-body align-items-center pt-3 pb-3">
              <h5 class="child-name font-weight-bold"><%= child.name %></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
